# Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,80.65,65,20,12.66,few clouds
1,1,Albany,US,42.6001,-73.9662,40.80,63,100,4.97,overcast clouds
2,2,Atar,MR,20.5169,-13.0499,82.20,22,99,3.80,overcast clouds
3,3,Saint-Philippe,RE,-21.3585,55.7679,74.75,78,34,10.29,scattered clouds
4,4,Aykhal,RU,66.0000,111.5000,-20.67,100,100,6.49,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 0
What is your desired maximum temperature for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,80.65,65,20,12.66,few clouds
1,1,Albany,US,42.6001,-73.9662,40.80,63,100,4.97,overcast clouds
2,2,Atar,MR,20.5169,-13.0499,82.20,22,99,3.80,overcast clouds
3,3,Saint-Philippe,RE,-21.3585,55.7679,74.75,78,34,10.29,scattered clouds
5,5,Gornopravdinsk,RU,60.0500,69.9000,21.09,93,100,9.40,overcast clouds
6,6,Cabo San Lucas,MX,22.8909,-109.9124,74.52,75,1,5.01,clear sky
7,7,Kavieng,PG,-2.5744,150.7967,82.72,74,93,8.43,light rain
8,8,Yatou,CN,37.1500,122.3833,55.92,73,99,15.28,overcast clouds
9,9,Katherine,AU,-14.4667,132.2667,95.32,38,75,6.91,broken clouds
10,10,Katobu,ID,-4.9408,122.5276,87.71,64,60,3.80,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,80.65,65,20,12.66,few clouds
1,1,Albany,US,42.6001,-73.9662,40.80,63,100,4.97,overcast clouds
2,2,Atar,MR,20.5169,-13.0499,82.20,22,99,3.80,overcast clouds
3,3,Saint-Philippe,RE,-21.3585,55.7679,74.75,78,34,10.29,scattered clouds
5,5,Gornopravdinsk,RU,60.0500,69.9000,21.09,93,100,9.40,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
557,557,Xique-Xique,BR,-10.8218,-42.7263,81.41,56,20,13.94,few clouds
558,558,Barcelos,PT,41.5388,-8.6151,58.91,66,100,2.95,overcast clouds
559,559,Wanaka,NZ,-44.7000,169.1500,53.04,92,100,2.75,overcast clouds
560,560,Makokou,GA,0.5738,12.8642,69.30,99,100,2.04,light rain
561,561,Black River,JM,18.0264,-77.8487,80.60,82,76,3.74,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,80.65,few clouds,-21.2078,-159.7750,
1,Albany,US,40.80,overcast clouds,42.6001,-73.9662,
2,Atar,MR,82.20,overcast clouds,20.5169,-13.0499,
3,Saint-Philippe,RE,74.75,scattered clouds,-21.3585,55.7679,
5,Gornopravdinsk,RU,21.09,overcast clouds,60.0500,69.9000,
6,Cabo San Lucas,MX,74.52,clear sky,22.8909,-109.9124,
7,Kavieng,PG,82.72,light rain,-2.5744,150.7967,
8,Yatou,CN,55.92,overcast clouds,37.1500,122.3833,
9,Katherine,AU,95.32,broken clouds,-14.4667,132.2667,
10,Katobu,ID,87.71,broken clouds,-4.9408,122.5276,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,80.65,few clouds,-21.2078,-159.7750,Paradise Inn
2,Atar,MR,82.20,overcast clouds,20.5169,-13.0499,Oumou Elghoura
3,Saint-Philippe,RE,74.75,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
5,Gornopravdinsk,RU,21.09,overcast clouds,60.0500,69.9000,Burovik
6,Cabo San Lucas,MX,74.52,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 

# Configure gmaps API key
gmaps.configure(api_key=g_key)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))